/* Reset some default styles */
body {
    text-align: center;
    margin: auto;
    padding: auto;
    font-family: 'Monoton', cursive;
    font-size: 100px;
}

h1, h2, h3, h4, h5, h6 {
    text-align: center;
    margin: auto;
    padding: auto;
    font-family: 'Monoton', cursive;
    font-size: 100px;
}

p {
    text-align: center;
    margin: auto;
    padding: auto;
    font-family: 'Ranchers', cursive;
    font-size: 50px;
}

.banner-title {
    text-align: center;
    margin: auto;
    padding: auto;
    font-family: 'Monoton', cursive;
    font-size: 50px;
}

.movies-title {
    margin-top: -90px;
    padding: 0;
    font-family: 'Monoton', cursive;
    font-size: 100px;
}

.movies-subtitle {
    margin-top: -30px;
    padding: 0;
    font-family: 'Monoton', cursive;
    font-size: 50px;
}
/* Main styles for home page */
/* Пример CSS-кода для баннера в header */
.header {
    position: relative; /* Добавляем относительное позиционирование для родительского элемента */
}

.banner {
    width: 100%; /* Занимаем всю ширину родительского элемента */
    max-height: 250px; /* Максимальная высота 200px */
    object-fit: cover; /* Растягиваем изображение на всю высоту и ширину */
    object-position: center; /* Центрируем изображение по центру */
}


.banner-text {
    position: absolute;
    top: 36%;
    right: 0;
    transform: translateY(-50%);
    text-align: right;
    color: #fff; /* Цвет текста */
    font-size: 24px; /* Размер текста */
    font-family: 'Monoton', cursive; /* Здесь указывается ваш выбранный шрифт или его название */
}

main {
    padding: 20px;
}
.movies-container {
    display: flex; /* Отображаем контейнер с афишами в виде гибкого контейнера */
    flex-wrap: wrap; /* Заворачиваем афиши на новую строку при необходимости */
    gap: 10px; /* Добавляем промежутки между афишами */
    justify-content: center; /* Выравниваем афиши по центру горизонтально */
}

.movies-row {
    display: flex; /* Отображаем ряд с афишами в виде гибкого контейнера */
    gap: 10px; /* Добавляем промежутки между афишами внутри ряда */
}

.movie-card {
    flex-basis: calc(25% - 10px); /* Задаем ширину каждой афиши внутри ряда (25% - промежутки) */
    position: relative; /* Добавляем относительное позиционирование для родительского элемента */
}

.movie-card:hover .poster {
    transform: scale(1.5); /* Увеличиваем размер изображения на 50% при наведении на афишу */
    transition: transform 0.3s ease-in-out; /* Добавляем анимацию при изменении размера изображения */
}

.poster {
    width: 100%; /* Занимаем всю ширину родительского элемента */
    height: auto; /* Автоматически рассчитываем высоту на основе ширины */
    object-fit: cover; /* Растягиваем изображение на всю высоту и ширину */
    object-position: center; /* Центрируем изображение по
