<!DOCTYPE html>
<html>
<head>
    <title>Kinoteatr</title>
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'movies/css/style.css' %}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Monoton&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Ultra&display=swap" rel="stylesheet">
</head>
<body>
<header class="header">
    <img src="{% static 'movies/img/banner_5.jpeg' %}" alt="Banner" class="banner">
    <div class="banner-text">
        <p class="banner-title">YeCinema</p>
    </div>
</header>
<main>
    <h2 class="movies-title">Now Showing</h2>
    <p class="movies-subtitle">Click on the movie poster to see more details</p>
    <div class="movies-container">
        <div class="movies-grid">
            <!-- Блок с 9 картинками -->
            <div class="row">
                <div class="col">
                    <a href="{% url 'movie_detail' movie_id=1 %}">
                        <div class="movie-time">10:00 am</div>
                        <img src="{% static 'movies/img/p1.jpeg' %}" alt="Movie 1" class="poster">
                        <div class="movie-title">HellRaiser</div>
                    </a>
                </div>
                <div class="col">
                    <a href="{% url 'movie_detail' movie_id=2 %}">
                        <div class="movie-time">12:40 pm</div>
                        <img src="{% static 'movies/img/p2.jpeg' %}" alt="Movie 2" class="poster">
                        <div class="movie-title">Nosferatu. The Vampire</div>
                    </a>
                </div>
                <div class="col">
                    <a href="{% url 'movie_detail' movie_id=3 %}">
                        <div class="movie-time">10:35 am</div>
                        <img src="{% static 'movies/img/p3.jpeg' %}" alt="Movie 3" class="poster">
                        <div class="movie-title">The Hangover Part:3</div>
                    </a>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <a href="{% url 'movie_detail' movie_id=4 %}">
                        <div class="movie-time">1:20 pm</div>
                        <img src="{% static 'movies/img/p4.jpeg' %}" alt="Movie 4" class="poster">
                        <div class="movie-title">Kiss of the Dragon</div>
                    </a>
                </div>
                <div class="col">
                    <a href="{% url 'movie_detail' movie_id=5 %}">
                        <div class="movie-time">2:30 pm</div>
                        <img src="{% static 'movies/img/p5.jpeg' %}" alt="Movie 5" class="poster">
                        <div class="movie-title">Stripes</div>
                    </a>
                </div>
                <div class="col">
                    <a href="{% url 'movie_detail' movie_id=6 %}">
                        <div class="movie-time">5:50 pm</div>
                        <img src="{% static 'movies/img/p6.jpeg' %}" alt="Movie 6" class="poster">
                        <div class="movie-title">Guardians Of The Galaxy vol.3</div>
                    </a>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <a href="{% url 'movie_detail' movie_id=7 %}">
                        <div class="movie-time">6:10 pm</div>
                        <img src="{% static 'movies/img/p7.jpeg' %}" alt="Movie 7" class="poster">
                        <div class="movie-title">Blind Willow Sliping Woman</div>
                    </a>
                </div>
                <div class="col">
                    <a href="{% url 'movie_detail' movie_id=8 %}">
                        <div class="movie-time">9:30 pm</div>
                        <img src="{% static 'movies/img/p8.jpeg' %}" alt="Movie 8" class="poster">
                        <div class="movie-title">The Revenant</div>
                    </a>
                </div>
                <div class="col">
                    <a href="{% url 'movie_detail' movie_id=9 %}">
                        <div class="movie-time">10:00 pm</div>
                        <img src="{% static 'movies/img/p9.jpeg' %}" alt="Movie 9" class="poster">
                        <div class="movie-title">BLACKkKLANSMAN</div>
                    </a>
                </div>
            </div>
        </div>
    </div>
</main>
<footer class="foot">
    <p class="footer-text">YeCinema &copy; 2023. All rights reserved.</p>
</footer>
</body>
</html>
